* {
    margin: 0;
    padding: 0;
}



/* Layer 1 */
#modal-shadow {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* display: flex; */
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}



/* layer 2 */
#header  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#zig {
    position: relative;
    height: 23vh;
    width: 100%;
    background-color: rgb(125, 54, 28);
    padding: 16px;
}

#zig::after {
    background: linear-gradient(-45deg,  #303628, 16px, transparent 0), linear-gradient(45deg,  #303628, 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
    
    
#modal {
    background-color: rgb(198, 242, 233);
    color: black;
    padding: 10px;
    width: 70vw;
    height: 20vh;
    margin: 6vh;
    border-radius: 8px;
    box-shadow: 10px 9px 14px 7px rgb(8 8 8);
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#game-container{
    height: 77vh;
    width: 100%;
    background-color: #303628;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* layer 3 */
#title {
    margin: 0;
    font-size: 50px;
    
}

#actions {
    position: relative;
    top: -87px;
    display: flex;
    flex-direction: row;
    gap: 49px;
}

#punks {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#game {
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-radius: 0px;
}

/* layer 4 */
.action {
    width: 101px;
    height: 60px;
    background-color: rgb(224, 172, 95, 0.3); 
    font-weight: bold;
    border-radius: 82px;
    border: none;
    /* margin: 20px; */
}

.action:hover  {
    cursor: pointer;
    border-radius: 12px;
    background-color: rgb(227 192 138 / 40%);
    box-shadow: 0px 0px 10px 11px rgb(224 172 95/ 40%);
}

#punk {
    width: 110px; 
    height: 80px; 
}
.gameTile {
    height: 100%;
    width: 100%;
    background-color: #505846;
    border-radius: 0px;
    border: 3px solid black;
    font-size: 130px;
}

.gameTile:hover {
    background-color: rgb(125, 54, 28);
}





/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */